/* ------------------------ Desktop --------------------------*/

.landing-page-title {
  grid-area: 3 / 4 / 4 / 10;
  padding: 0;

  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.landing-page-item-subtitle {
  font-size: 2.5rem;
  grid-area: 5 / 5 / 6 / 9;

  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.landing-page-item-author {
  font-size: 1.75rem;
  grid-area: 7 / 5 / 8 / 9;
}

/* ------------------------ Tablet --------------------------*/

@media only screen and (max-width: 1350px) and (min-width: 768px) {
  .landing-page-title {
    grid-area: 3 / 3 / 4 / 11;
  }

  .landing-page-item-subtitle {
    grid-area: 5 / 4 / 6 / 10;
  }

  .landing-page-item-author {
    grid-area: 7 / 4 / 8 / 10;
  }
}

/* ------------------------ Mobile --------------------------*/

@media only screen and (max-width: 800px) {
  .landing-page-title {
    grid-area: 3 / 1 / 4 / 13;
    padding: 0 1rem;
  }

  .landing-page-item-subtitle {
    font-size: 2rem;
    grid-area: 5 / 2 / 6 / 12;
  }

  .landing-page-item-author {
    font-size: 1.5rem;
    grid-area: 7 / 3 / 8 / 11;
  }
}
