:root {
  --primary-color:  #fafffd;
  --background-color: #020300;
  --yellow: #f6ae2d;
  --red: #f45b69;
  --blue: #0094c9;
}

/* ------------------------ Desktop --------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: var(--primary-color);

  background: url("../images/background.svg") var(--background-color);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

h1, h2, h3 {
  font-weight: 200;
}

em {
  color: var(--yellow);
}

img {
  width: 100%
}

.nothing {
  background: var(--background-color);
  height: 100vh;
}

.header-logo { grid-area: 1 / 5 / 2 / 9; }

.header-title { 
  grid-area: 2 / 6 / 3 / 8; 
  font-weight: 400;
  font-size: 2rem;
}

.text {
  grid-area: 4 / 2 / 9 / 7;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
}

.gif {
  grid-area: 4 / 8 / 9 / 12;
}

.links { 
  grid-area: 10 / 1 / 11 / 13;
}

.information {
  grid-area: 11 / 2 / 13 / 3;
  font-size: 1.5rem;
}

.information button, .question  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.information button {
  margin: 5px 0px;
  font-weight: 200;
  color: var(--primary-color);
}

.down {
  grid-area: 12 / 1 / 13 / 13;
  display: flex;
}

.down > *:nth-child(1),
.down > *:nth-child(3) {
  transform: scale(0.25);
}

.down > *:nth-child(2) {
  transform: scale(1);
}

.question {
  grid-area: 11 / 11 / 13 / 12;
}

.question > img {
  min-width: 36px;
}

/* ------------------------ Tablet --------------------------*/

@media only screen and (max-width: 1350px) and (min-width: 768px) {
  body {
    background-color: var(--red);
  }
}

/* ------------------------ Mobile --------------------------*/

@media only screen and (max-width: 800px) {
  body {
    background-color: var(--blue);
  }

  .information {
    font-size: 1.25rem;
  }
}
