<div class="landing-page-item landing-page-item-information">
    <button>About</button>
    <br />
    <button>Share</button>
</div>
<a class="landing-page-item landing-page-item-down">
    <img class="landing-page-item-down-arrow landing-page-item-down-arrow-1" src="/images/down-arrow.svg"
        alt="Down Arrow" />
    <img class="landing-page-item-down-arrow landing-page-item-down-arrow-2" src="/images/down-arrow.svg"
        alt="Down Arrow" />
    <img class="landing-page-item-down-arrow landing-page-item-down-arrow-3" src="/images/down-arrow.svg"
        alt="Down Arrow" />
</a>
<a class="landing-page-item landing-page-item-question">
    <img src="/images/question.svg" alt="Question Mark" />
</a>